.general{
    background-image: url("../../public/about.jpg");
    height: 700px;
    display: flex;
    background-position: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    .info {
        color: white;
        margin-left: 75%;
        margin-top: 15%;
    }
    .info2{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}