.container {
    background-color: #1f2029;
    height: 80vh;
    
}

.block_signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.block_two {
   height: 400px;
    width: 480px;
    background-color: #2a2b38;
  margin-bottom: 100px;
  border-radius: 5px;
}


.form_signUp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 90px;
    margin-top: 10px;
    
    font-family: 'Montserrat', sans-serif;
}

.input {
    height: 40px;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1057/1057231.png);

    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 0 center;
    padding-left:40px;
    }

.input2 {
    height: 40px;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    background-image: url(https://cdn-icons-png.flaticon.com/512/724/724664.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    padding-left:40px;
}

.input3 {
    height: 40px;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    background-image: url(https://cdn-icons-png.flaticon.com/512/726/726573.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    padding-left:40px;
}

.input4 {
    height: 40px;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    background-image: url(https://cdn-icons-png.flaticon.com/512/5800/5800171.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    padding-left:40px;
}

.input5 {
    height: 40px;
    width: 400px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3177/3177401.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    padding-left:40px;
    z-index: 0;
}


.eyeForPassword {
    position: absolute;
    top: 210px;
    right: -60px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(100%);
}

.title {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #999;
}

.btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px; 
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    border-radius: 100px;
    border: none;
    transition: .3s;
    &:hover{
        background-color: #359999;
        color: #fff;
    }
}

.eyeForPasswor {
    position: absolute;
    top: 60px;
    right: -40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(100%);
    z-index: 1;
}