.bg_img{
    background: url('../../public/two_bg.jpg');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.cards{
    width: 75%;
    padding: 60px 0 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card{
        width: 340px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card_img img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    .card_text{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        h4{
            padding: 15px 0 5px;
            font-size: 20px;
            font-weight: 400;
        }
        h3{
            color: blue;
            font-weight: 300;
            margin: 40px 0;
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        hr{
            width: 70%;
        }
    }
}