.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #355c7d;
  .logo {
    width: 100px;
    height: 80px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    object-fit: cover;
    img {
      height: 64px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        scale: 1.2;
      }
    }
  }
  .nav_top {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      align-items: center;
      width: 60%;
      list-style-type: none;
      justify-content: space-between;
      margin-right: 5%;
      .link {
        text-decoration: none;
      }
      .link_off {
        color: silver;
        cursor: default;
        &:hover {
          margin-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
.link_mg {
  margin-left: 100px;
}
li {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    margin-bottom: 5px;
    border-bottom: 2px solid #01c38d;
  }
}
