.user_block {
  width: 100%;
  min-height: 90vh;
  display: flex;
  background-color: #1f2029;
  .aside {
    margin-top: 10px;
    width: 15%;
    color: #fff;
    div {
      margin-bottom: 2px;
      font-weight: 500;
      height: 50px;
      border-bottom: 1px solid silver;
      border-top: 1px solid silver;
      border-left: 0.5px solid silver;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      line-height: 50px;
      padding-left: 15px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background-color: #355c7d;
        color: #01c38d;
        box-shadow: -2px 3px 3px rgb(14, 132, 161);
      }
    }
    .Link {
      font-weight: 300;
      text-decoration: none;
      color: #fff;
    }
  }
  .request {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
  }
}
