*{
    margin: 0;
}
header{
    position: absolute;
    width: 100%;
    padding: 10px 0 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        .logo{
            width: 100px;
            height: 80px;
            margin-left: 50px;
            object-fit: cover;
            img{
                filter: invert(100%);
                height: 100%;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    scale: 1.2;
                }
            } 
        }
        .nav_top{
            width: 80%;
            display: flex;
            justify-content: flex-end;
            ul{
                display: flex;
                align-items: center;
                width: 40%;
                list-style-type: none;
                justify-content: space-between;
                margin-right: 15%;
            }
        }
}

li{
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        margin-bottom: 5px;
        border-bottom: 2px solid #01c38d;
    }
}